* {
    box-sizing: border-box;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 10px;
    border-radius: 10px;
    background-color: #e995cc;
}

.display-container {
    background-color: rgb(254, 228, 255);
    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 15px;
}

.display {
    font-size: 56px;
}

.previous-display {
    height: 40px;
    color: gray;
    font-size: 36px;

}

.back {
    background-color: #d364ac;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #e9c8ef;
    padding: 18px;
    border-radius: 10px;
}

button {
    margin: 0;
    padding: 10px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: none;
    font-size: 36px;
    box-shadow: 0 7px rgb(73, 62, 114);
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 5px rgb(54, 45, 83);
}

button:disabled {
    background-image: linear-gradient(rgb(0 0 0/25%) 0 0);
    cursor:not-allowed;
}

.operator:focus {
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

.number {
    background-color: rgb(153, 221, 243);
}

.operator {
    background-color: rgb(242, 110, 209);
    font-size: 46px;
}

#equals {
    background-color: rgb(144, 149, 252);
}

#backspace, #clear, #clear-line {
    background-color: palevioletred;
}

#change-sign {
    background-color: aquamarine;
}